[Unit]
Description=Noctalia - A lightweight Wayland shell and bar
Documentation=https://docs.noctalia.dev/noctalia/
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=noctalia
Restart=on-failure

[Install]
WantedBy=graphical-session.target
