layout {
    gaps 8

    always-center-single-column
    background-color "transparent"

    focus-ring {
        on
        width 2
    }

    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    border {
        off
        width 2
    }

    shadow {
        on
        offset x=0 y=0
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

