window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
        blur true
        xray true
    }
    popups {
        background-effect {
            blur true
            xray false
        }
    }
}

window-rule {
    match app-id=r#"^dev\.noctalia\.Noctalia$"#
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

window-rule {
    match app-id=r#"zen"#
    match app-id=r#"vesktop"#
    match app-id=r#"steam"#
    match app-id=r#"gimp"#
    match app-id=r#"libreoffice"#
    open-maximized true
}

window-rule {
    match app-id=r#"^xdg-desktop-portal-gtk$"#
    match app-id=r#"^org\.gtk\.FileChooserDialog$"#
    match title=r#"^(Open|Save|Select|Import|Export)\b"#
    exclude app-id=r#"^zen"#
    exclude app-id=r#"^vesktop$"#
    exclude app-id=r#"^steam$"#
    open-floating true
    default-column-width { proportion 0.0; }
    max-width 800
    max-height 1000
}

window-rule {
    match title=r#"^Picture-in-Picture$"#
    match title=r#"Sign in - Google Accounts"#
    match app-id=r#"^steam$"# title=r#".*Friends.*"#
    open-floating true
}

window-rule {
    match title=r#"\b(Dialog|Properties|Preferences|Settings|Rename|Authentication)$"#
    exclude app-id=r#"^zen"#
    exclude app-id=r#"^vesktop$"#
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    geometry-corner-radius 0
    border {
        off
    }
}

window-rule {
    match app-id=r#"^org\.gnome\.Nautilus$"#
    opacity 0.8
}

layer-rule {
    // match namespace="^noctalia-backdrop" // enable [niri/backdrop]
    match namespace="^noctalia-wallpaper" // disable [niri/backdrop]
    place-within-backdrop true
}

// disabling xray seems to break transparency in some regions
// layer-rule {
//     match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
//     background-effect {
//         xray false
//         // blur false
//     }
// }

layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}
