input {
    keyboard {
        xkb {
            layout "us,us"
            variant ",dvp"
            options "caps:super,grp:win_space_toggle"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    // focus-follows-mouse
}
